<div class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100 justify-content-end mr-5">
        <a class="nav-item nav-link active mr-4" href="/lists/{{dados.id}}" >Home</a>
        <a class="nav-item nav-link mr-4" href="/lists/{{dados.id}}">Listas</a>
        <a class="nav-item nav-link mr-4" href="/lists/new-list/{{dados._id}}">Nova Lista</a>

        <a class="nav-item nav-link mr-4" href="/users/logout">Logout</a>
      </div>
    </div>
  </nav>
</div>
<br>
<br>