<div class="card" style="margin: auto;">
    <div class="card-body">
        <div class="card-header">
            <h2 style="text-align: center;">Editar tarefa</h2>
        </div>
        <div class="card-body">
            <form action="/tasks/edit-task/{{task._id}}" method="POST">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input type="text" class="form-control" name="title" value="{{task.title}}" required>
            </div>
            <form action="" method="POST">
                <div class="form-group">
                    <label for="title">Descrição</label>
                    <textarea name="description" class="form-control" id="description" cols="30" rows="10" required>{{task.description}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-2" style="width: 100%">Cadastar</button>
            </form>
        </div>
    </div>
</div>