  {{>_navbar}}

<div class="container"> 
  <h2>Listas de tarefas</h2><br>
  <table class="table table-hover">
    <tbody>
      {{#each listUser}}
        <tr>
          <td><a href="/tasks/{{this._id}}" class="align-middle" style="color:black;">{{this.title}}</a></td>
          <td><form action="/lists/delete" method="POST">
            <input type="hidden" name="listId" value="{{this.id}}">
            <button type="submit" class="btn btn-danger btn-sm float-right mr-4">Excluir</button>
            </form>
            <a href="/lists/edit-list/{{this._id}}" class="btn btn-primary btn-sm float-right mr-1">Editar</a>
           </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>