  {{>_navbar}}

<div class="container h-100">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">
            <div class="card">
                <div class="card-header">
                    <h2 style="text-align: center;">Criar lista</h2>
                </div>
                <div class="card-body">
                    <form action="/lists/new-list/{{dados._id}}" method="POST">
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input type="text" class="form-control" name="title" placeholder="Informe o nome da tarefa" required>
                        </div>
                        <div class="form-group">
                            <label for="title">Descrição</label>
                            <textarea name="description" class="form-control" id="description" cols="30" rows="5" placeholder="Descrição da tarefa" required></textarea>
                        </div>
                        <div style="text-align: right;">
                            <button type="submit" class="btn btn-primary mt-2">Cadastar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>